.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.2);
    background-color: rgba($color-white,0.6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);


    &__shape{
        width: 15rem;
        height: 15rem;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        float: left;
        position: relative;
        transform: translate(-3rem) skewX(12deg);
        overflow: hidden;
        border-radius: 50%;
       
        
 
    }

    &__img {
        width:100%;
        height: 100%;     
        transform: scale(1.4);
        transition: transform 0.8s;

    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,20%);
        transition: transform 0.4s;
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.8rem;
        text-align: center;
        opacity:0;
        backface-visibility: hidden;
      
    }

    &:hover &__caption {
        opacity:1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: scale(1);
        filter: blur(2px) brightness(80%);
        
    }



}
